doctype html
html(lang="zh-cn")
    head
        //- 网页编码
        meta(charset="utf-8")
        //- bootstrap 移动设备窗口禁用缩放设置
        meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no,maximum-scale=1.0')
        //- IE默认为edge浏览器
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        //- Set render engine for 360 browser
        meta(name="renderer" content="webkit")
        block(name='seo_head')
            title {$site_info.site_seo_title}
            meta(name="keywords" content="{$site_info.site_seo_keywords|default=''}")
            meta(name="description" content="{$site_info.site_seo_description|default=''}")
        //- 引入头部标签文件
        | <include file="public@head"/>
        //- 头部钩子
        hook(name="before_head_end")/
    body.bg-light
        //- 引入顶部导航
        | <include file="public@navbar"/>
        //- 引入body正文部分
        #main
            block(name="main")
        //- 引入底部导航
        | <include file="public@footer"/>
        //- 引入公共JS
        script(src="__TMPL__/public/assets/js/swiper.min.js")
        script(src="__TMPL__/public/assets/js/jquery.min.js")
        script(src="__TMPL__/public/assets/js/bootstrap.bundle.js")
        script(src="__TMPL__/public/assets/js/my-js.js")
        script(src="__STATIC__/js/frontend.js")
        //- 页面专用JS
        block(name="script")
        //- 底部钩子
        | <hook name="before_body_end"/>
