| <extend name="public@base"/>
block(name="main")
    .container.border.border-secondary.p-5.mt-5
        .row
            .col.pb-3
                h4 我的计算器
        .row.border.border-secondary
            .col-12
                ul.nav.nav-tabs.nav-fill.my-3#my-tab(role='tablist')
                    each val,index in {1:'基础属性',2:'武器',3:'头肩',4:'上衣',5:'下装',6:'腰带',7:'鞋子',8:'手镯',9:'项链',10:'戒指',11:'左槽',12:'耳环',13:'魔法石'}
                        li.nav-item: a(id='tablink-' + index href='#tab-panel-' + index data-toggle="tab" role="tab").nav-link #{val}
            .col-12.tab-content.bg-light
                - var n=1
                while n < 14
                    .row.tab-pane(id='tab-panel-' + n++)
                        .col-6.cs-input
                            .input-group.mb-4
                                .input-group-prepend
                                    select()
                                        option(value='0') 请选择
                                        option(value='1') 技能攻击力
                                        option(value='2') 属性 强化
                                        option(value='3') 百分比攻击
                                        option(value='4') 附加 伤害
                                        option(value='5') 额外 黄字
                                        option(value='6') 额外 爆伤
                                        option(value='7') 百分比力智
                                        option(value='8') 最终 伤害
                                input.form-control(type='text' value='0')
                                .input-group-prepend
                                    .input-group-text %
            .col.py-3
                #add-line
                    a.btn.btn-dark(href='javascript:' onclick="addLine()") 新增一行
        .row.py-3
            ul.list-group#total-bar
                li.list-group-item
                    .input-group
                        .input-group-prepend
                            .input-group-text 技能攻击力
                        input.form-control(value='0' id='total1')
                        .input-group-prepend
                            .input-group-text %
                li.list-group-item
                    .input-group
                        .input-group-prepend
                            .input-group-text 属性强化
                        input.form-control(value='0' id='total2')
                        .input-group-prepend
                            .input-group-text 点
                li.list-group-item
                    .input-group
                        .input-group-prepend
                            .input-group-text 百分比攻击
                        input.form-control(value='0' id='total3')
                        .input-group-prepend
                            .input-group-text %
                li.list-group-item
                    .input-group
                        .input-group-prepend
                            .input-group-text 附加伤害
                        input.form-control(value='0' id='total4')
                        .input-group-prepend
                            .input-group-text %
                li.list-group-item
                    .input-group
                        .input-group-prepend
                            .input-group-text 额外黄字
                        input.form-control(value='0' id='total5')
                        .input-group-prepend
                            .input-group-text %
                li.list-group-item
                    .input-group
                        .input-group-prepend
                            .input-group-text 额外爆伤
                        input.form-control(value='0' id='total6')
                        .input-group-prepend
                            .input-group-text %
                li.list-group-item
                    .input-group
                        .input-group-prepend
                            .input-group-text 百分比力智
                        input.form-control(value='0' id='total7')
                        .input-group-prepend
                            .input-group-text %
                li.list-group-item
                    .input-group
                        .input-group-prepend
                            .input-group-text 最终伤害
                        input.form-control(value='0' id='total8')
                        .input-group-prepend
                            .input-group-text %
                li.list-group-item.bg-dark
                    .input-group.my-3
                        .input-group-prepend
                            .input-group-text 总提升
                        input.form-control(value='0' id='total')
                        .input-group-prepend
                            .input-group-text %
                    a.btn.btn-block.btn-success(href='javascript:' onclick='getValues()') 点击获取值
block(name="script")
    script(src='__TMPL__/public/assets/js/calculator.js')